<div class='permissioneditor'>
<p>
  <b>Permissions</b>
</p>
<p>
  <em>Select "Add" to define permissions for an entity.
    The first matching permission is taken as definitive,
    so if a given user belongs to multiple groups and matches
    multiple permission rows, the first is taken.  You may
    drag to re-order permissions.
  </em>
</p>
<p>
  <em>Permissions inherited from the parent of this object are
  shown as non-editable entries at the top of the list. You may
  override them by adding your own explicit entry.</em>
</p>
<br>
<table>
  <thead>
    <tr>
      <th>Entity</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

